<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title>登录</title>

<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="css/bootstrap/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="css/modular/frame.css"/>
<link rel="stylesheet" type="text/css" href="css/modular/global.css"/>
<link rel="stylesheet" type="text/css" href="css/modular/login-regsiter.css"/>


</head>
<body>
		<div class="container">
			<div class="col-xs-12 login-nav">
				<div class="login-logo"><img src="images/login-logo.png" ></div>
				<div class="login-right "><a href="#">已经有账号?</a><a href="#" class="blue">立即注册</a></div>
			</div>
		</div>
		<div class="container login-bj">
			<div class="row">
				<div class="col-xs-12">
					<div id="login-box">
						<div class="row">
							<div class="col-xs-12">
								<div class="login-frame">
								         <ul>
								         <div class="login-note">帐户或者密码错误！</div>
								         <li class="login-title">账户登录</li>
								         <li class="user"><i class="fa fa-user"></i><input type="text" class="int-text int-large int-height" placeholder="手机号／邮箱"></li>
								         <li class="password"><i class="fa fa-lock"></i><input type="password" class="int-text int-large int-height" placeholder="密码" ></li>
								         <li><p class="yzm"><input type="text" class="int-text int-medium int-height" placeholder="验证码" ></p><p class="yzn-t"><img src="images/yzm.png" ></p></li>
								         <li><input type="button" class="login-btn" value="登 录"  ></li> 
								         <li class="Forget-password"><a href="#">忘记密码？</a><a href="#" class="right">立即注册</a></li>
								         </ul>
	
							</div>
					</div>
				</div>
				</div>	
			</div>	
		</div>

		<div class="container">
			<div class="row">
			<div class="col-xs-12 login-bottom">
				©2016 版权所有 亚信集团股份有限公司 京ICP备11005544号-15 京公网安备110108007119号
			</div>
			</div>
		</div>
 
</body>
</html>